
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<html>
    <body style="background-color:#000000;" >
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#da2800;">
            <img class="rounded mr-2" src="{% static 'polls/images/PhilSwiftThumb.jpg' %}" width="40" height="40" alt="">
            <a class="navbar-brand" href="/polls">Flex Town</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/polls">Latest<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Archive<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Thoughts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/polls/thoughts">Record Thought</a>
                    <a class="dropdown-item" href="/polls/thoughts/list_all">View Thoughts</a>
                    </div>
                </li>
                </ul>
            </div>
        </nav>

        {% if latest_question_list %}
            <ul class="mt-5 mr-5">
            {% for question in latest_question_list %}
                <li><div class="text-light rounded p-2 mb-4" style="background-color: #242424;">
                    <a class="text-white" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                </li></div>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </body>

    <div class="footer fixed-bottom text-white p-2" style="background-color:#da2800;">
      <small>Flex Town &copy; 2021 Thomas Keathley</small>
    </div>
</html>
